@media(max-width: 768px) {
    .container { 
        padding: 30px 0;
    }
    
    .card {
        grid-template-areas:
        "sedans"
        "suvs"
        "luxury";
        grid-template-columns: 320px;
        grid-template-rows: repeat(3, 430px);
    }

    .sedans {
        padding: 40px;
        border-radius: 10px 10px 0 0;
    }

    .suvs {
        padding: 40px;
    }

    .luxury {
        padding: 50px;
        border-radius: 0 0 10px 10px;
    }

    .text {
        margin-top: 20px;
    }

    .btn {
        margin-top: 35px;
    }
}